body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
}

h1 {
    text-align: center;
    margin-top: 0px;
    background-color: yellowgreen;
    padding: 5px 10px;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="file"] {
    margin-top: 5px;
}

input[type="submit"],
button[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: green;
    color: white;
}

button[type="reset"] {
    background-color: red;
    color: white;
}
